.main{
width: 500px;
height: 500px;
background-color: azure;
color: blue;
font-size: 50px;
border: 3px;
text-align: center;
}
.web{
    width: 250px;
    height: 250px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(14, 186, 186);
}
.data_sc{
    width: 250px;
    height: 250px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(186, 14, 129);
}
.web:hover{
    color: black;
    background-color: red;
    text-align: center;
}
.data_sc:hover{
    color: rgb(53, 26, 26);
    background-color: rgb(243, 20, 150);
    text-align: center;
    
}